<div class="dark:bg-black sticky top-0 z-10 bg-transparent xl:hidden">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 flex justify-center">
    <a href="/">
      <img
        class="h-44 w-44"
        src="static/stuttgart_gophers.svg"
        alt="Logo Stuttgart Gophers"
      />
    </a>
  </div>
</div>
