<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="../static/sun-glasses.png" />
    <link rel="stylesheet" href="static/css/main.css" />
    <style>
      input:checked~.dot {
          transform: translateX(100%);
          /* background-color: #132b50; */
      }
    </style>
  </head>
  <body class="dark:bg-black bg-slate-200 min-h-screen flex flex-col justify-between">
    {{ embed }}
    <script src="static/js/script.js"></script>
  </body>
</html>
