<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuttgart Gophers</title>
    <style>
    body {
        background-color: #58caea;
        margin: 0;
        padding: 0;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .main-content {
        margin-left: 15vw;
        margin-top: 5vh;
    }
  
    </style>
</head>
<body>
    {{template "menu" .}}
    <div class="main-content">
        <main>
            <h2>Alex</h2>
            <p>Reach out on <a href="https://www.linkedin.com/in/alexandru-badragan/">LinkedIn.</a></p>
            <p>Reach out on <a href="https://gophers.slack.com/team/U033JRER9B7">slack.</a></p>
        </main>

        <footer>
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:stuttgart.gophers@protonmail.com">stuttgart.gophers@protonmail.com</a></p>
        </footer>
    </div>
</body>
</html>