{{template "partials/header" .}}
<main>
    <h2>Alex</h2>
    <p>Reach out on <a href="https://www.linkedin.com/in/alexandru-badragan/" target="_blank">LinkedIn.</a></p>
    <p>Reach out on <a href="https://gophers.slack.com/team/U033JRER9B7" target="_blank">slack.</a></p>
</main>
{{template "partials/footer" .}}
