<header style="background-color: black; height: 10vh; margin-top: 5vh; display: flex; align-items: center; justify-content: center; width: 100%; z-index: 2; position: relative;">
    <img src="/static/stuttgart_gophers.svg" alt="Gopher" style="margin-right: 3vw; width: 8vw; height: auto;">
    <h1 style="color: #58caea; font-size: 3vw; text-align: center;">Welcome to the Stuttgart Gophers Homepage</h1>
    <img src="/static/stuttgart_gophers.svg" alt="Gopher" style="margin-left: 3vw; width: 8vw; height: auto;">
</header>