<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuttgart Gophers</title>
</head>
<body>
 
    {{template "menu" .}}
    <main>
        <h2>About Us</h2>
        <p>Official page of the <a href="https://www.meetup.com/stuttgart-gophers/">Stuttgart Gophers Meetup.</a> We meet regularly to discuss and learn about Golang. We also organize workshops and talks on Golang. If you are interested in Golang, you are welcome to join us.</p>

        <h2>Upcoming Events</h2>
        <ul>
            <li><a href="https://www.meetup.com/stuttgart-gophers/events/301555477/">Pointers and Interfaces in Go - 20th of June 2024</a></li>
        </ul>
        <h2>Past Events</h2>
        <ul>
            <li><a href="https://www.meetup.com/stuttgart-gophers/events/298485498/">Stuttgart Gophers 2024 Kickoff - 18th of January 2024</a></li>
            <li><a href="https://www.meetup.com/stuttgart-gophers/events/298805953/">Testing and fuzzing - 15th of February 2024</a></li>
            <li><a href="https://www.meetup.com/stuttgart-gophers/events/299790611/">An exploration into CUE - 28th of Marchy 2024</a></li>
            <li><a href="https://www.meetup.com/stuttgart-gophers/events/298485498/">Robust HTTP servers and clients with Go - 7th of May 2024</a></li>
        </ul>
    </main>

    <footer>
        <h2>Contact Us</h2>
        <p>Email: <a href="mailto:stuttgart.gophers@protonmail.com">stuttgart.gophers@protonmail.com</a></p>
    </footer>
</body>
</html>