<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuttgart Gophers</title>
    <style>
    body {
        background-color: #58caea;
        margin: 0;
        padding: 0;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .main-content {
        margin-left: 15vw;
        margin-top: 5vh;
    }
  
    </style>
</head>
<body>
    {{template "menu" .}}
    <div class="main-content">
        <main>
            <h2>About Us</h2>
            <p>Official page of the <a href="https://www.meetup.com/stuttgart-gophers/">Stuttgart Gophers Meetup.</a> We meet regularly to discuss and learn about Golang. We also organize workshops and talks on Golang. If you are interested in Golang, you are welcome to join us.</p>
        </main>

        <footer>
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:stuttgart.gophers@protonmail.com">stuttgart.gophers@protonmail.com</a></p>
        </footer>
    </div>
</body>
</html>