<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuttgart Gophers</title>
    <style>
        .sidebar {
            height: auto; /* Adjust the height to auto */
            width: 10vw;
            position: fixed;
            z-index: 1;
            top: 15vh; /* Adjust the top property to the height of the header */
            bottom: 15vh; /* Adjust the bottom property to the height of the footer */
            left: 0;
            background-color: black;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #58caea;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="#" onclick="window.location.href='/'">About Us</a>
        <a href="#" onclick="window.location.href='/upcoming'">Upcoming Events</a>
        <a href="#" onclick="window.location.href='/past'">Past Events</a>
        <a href="#" onclick="window.location.href='/contact'">Contact Us</a>
    </div>

    {{template "header" .}}

    <!-- Rest of your code -->

    {{template "footer" .}}

</body>
</html>