{{template "partials/header" .}}
<main>
    <h2>Past Events</h2>
    <ul>
        <li><a href="https://www.meetup.com/stuttgart-gophers/events/298485498/" target="_blank">Stuttgart Gophers 2024 Kickoff - 18th of January 2024</a></li>
        <li><a href="https://www.meetup.com/stuttgart-gophers/events/298805953/" target="_blank">Testing and fuzzing - 15th of February 2024</a></li>
        <li><a href="https://www.meetup.com/stuttgart-gophers/events/299790611/" target="_blank">An exploration into CUE - 28th of Marchy 2024</a></li>
        <li><a href="https://www.meetup.com/stuttgart-gophers/events/298485498/" target="_blank">Robust HTTP servers and clients with Go - 7th of May 2024</a></li>
    </ul>
</main>
{{template "partials/footer" .}}
        