{{template "partials/header" .}}
<main>
    <h2>Upcoming Events</h2>
    <ul>
        <li><a href="https://www.meetup.com/stuttgart-gophers/events/301555477/" target="_blank">Pointers and Interfaces in Go - 20th of June 2024</a></li>
    </ul>
</main>
{{template "partials/footer" .}}