{{template "header" .}}
{{template "logo" .}}
<main class="m-10 mx-auto w-screen max-w-7xl flex-grow p-4">
  <section class="rounded-lg bg-gopher p-6 shadow-md xl:min-h-96">
    <h2 class="mb-4 text-2xl font-semibold">Upcoming Events</h2>
    <ul class="list-disc pl-4 xl:pl-10">


        <li>
            <p>TBD</p>
        </li>

    </ul>
  </section>
</main>
{{template "footer" .}}
